<cmp-firebase-login (onLoginSuccess)="onLoginSuccess($event)"></cmp-firebase-login>
<div class="columns">
    <div class="column is-one-third">
        <div class="row">
            <cmp-upload-file (onUpload)="onUpload($event)"></cmp-upload-file>
        </div>
    </div>
</div>
<cmp-cloud-vision [imagePath]="imagePath" (onVisionResult)="onVisionResult($event)"></cmp-cloud-vision>
<cmp-google-search [keywordList]="keywordList" (onGetSearchResult)="onGetSearchResult($event)"></cmp-google-search>
<cmp-history-picture [imageList]="imageList" (onPickImage)="onPickImage($event)" data-toggle="modal" data-target="#myModal"></cmp-history-picture>

<div class="container">
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <img [src]="urlImage">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">FB.</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Dn.</button>
                </div>
            </div>
        </div>
    </div>
</div>
