<cmp-firebase-login (onLoginSuccess)="onLoginSuccess($event)"></cmp-firebase-login>
<div class="columns">
    <div class="column is-one-third">
        <div class="row">
            <cmp-upload-file (onUpload)="onUpload($event)"></cmp-upload-file>
        </div>
    </div>
</div>
<cmp-cloud-vision [imagePath]="imagePath" (onVisionResult)="onVisionResult($event)"></cmp-cloud-vision>
<cmp-google-search [keywordList]="keywordList" (onGetSearchResult)="onGetSearchResult($event)"></cmp-google-search>
<cmp-history-picture [imageList]="imageList" (onPickImage)="onPickImage($event)"></cmp-history-picture>