<div class="file-upload" style="padding-top:10px;">
    <div class="row">
        <div class="col-md-6">
            <input id="custom-input" type="file" (change)="fileChangeListener($event)">
        </div>
        <div class="col-md-6 text-right">
            <button (click)="uploadFile(imageRender.image)">Upload</button>
        </div>
    </div>
</div>
<br>
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: currentProgress + '%' }">
    </div>
</div>
<div class="container" style="padding-top:10px;">
    <div class="row" style="padding-top:10px;">
        <div class="col-md-6">
            <img-cropper #cropper [image]="imageRender" [settings]="cropperSettings"></img-cropper>
        </div>
        <div class="col-md-6"><span class="pull-right">
            <span class="result rounded" *ngIf="imageRender.image">
                <img #uploadfile [src]="imageRender.image" [width]="cropperSettings.croppedWidth"
                 [height]="cropperSettings.croppedHeight">
            </span>
            </span>
        </div>
    </div>
</div>