<div class="container">
    <div class="card-columns">
        <div class="row">
            <div class="col-lg-6" *ngFor="let item1 of imageList1">
                <div class="card">
                    <div class="card">
                        <img class="card-img img-fluid" [src]="item1.url" (click)="pickImage(item)" style="cursor:pointer" alt="....">
                    </div>
                </div>
            </div>
            <div class="col-lg-6" *ngFor="let item2 of imageList2">
                <div class="card">
                    <img class="card-img img-fluid" [src]="item2.url" (click)="pickImage(item)" style="cursor:pointer" alt="....">
                </div>
            </div>
        </div>
    </div>
</div>