<sg-firebase-login (onLoginSuccess)="onLoginSuccess($event)"></sg-firebase-login>
<div class="columns">
    <div class="column is-one-third">
        <div class="row">
            <sg-upload-file (onUpload)="onUpload($event)"></sg-upload-file>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <sg-preview-picture [imagePath]="imagePath"></sg-preview-picture>
        </div>
    </div>
</div>
<sg-cloud-vision [imagePath]="imagePath" (onVisionResult)="onVisionResult($event)"></sg-cloud-vision>
<sg-google-search [keywordList]="keywordList" (onGetSearchResult)="onGetSearchResult($event)"></sg-google-search>
<sg-history-picture [imageList]="imageList" (onPickImage)="onPickImage($event)"></sg-history-picture>