<firebase-login (onLoginSuccess)="onLoginSuccess($event)"></firebase-login>
<div class="columns">
    <div class="column is-one-third">
        <div class="row">
            <upload-file (onUpload)="onUpload($event)"></upload-file>
        </div>
    </div>
    <div class="column">
        <div class="container">
            <preview-picture [imagePath]="imagePath"></preview-picture>
        </div>
    </div>
</div>
<cloud-vision [imagePath]="imagePath" (onVisionResult)="onVisionResult($event)"></cloud-vision>
<google-search [keywordList]="keywordList" (onGetSearchResult)="onGetSearchResult($event)"></google-search>
<history-picture [imageList]="imageList" (onPickImage)="onPickImage($event)"></history-picture>